	h1 {
        color: #333131;
        font-weight:bold
	}
	p {
        font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
		color: #333131;
    }
    /* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
    background-color: #c9e1c6
  }
.jumbotron {
    background-color: 	#fdbcb4
}