@font-face{
    font-family: warhol;
    src: url('./warhol.ttf');
}

body{
    background-image: url("/imgs/faceBackground2.png");
}

h1,h2,h3,p{
    font-family: warhol;
}

h1{
    font-size: 4vw;
}

h2{
    font-size: 2vw;
}

h3{
    font-size: 1.5vw;
}

p{
    font-size: 1.5vw;
    line-height: 2.5vw;
}

img{
    border-style: solid;
}

.textbox{
    text-align: center;
    background-color: rgba(255, 255, 255, .8);
    box-shadow: 10px 10px;
    border-style: solid;
    margin-bottom: 1%;
}

.center{
    margin-left: 10%;
    width: 80%;
}

.album{
    width: 100%;
    height: auto;
}

.flip-box {
    background-color: transparent;
    width: 100%;
    padding-bottom: 100%;
  }
  
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: auto;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-box-back {
    transform: rotateY(180deg);
  }

  .img_link{
      width: 100px;
      height: 100px;
  }

  .links{
      display: flex;
      justify-content:space-between;
  }

  .links a{
    padding-left: 5%;
    padding-right: 5%;
  }